* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

a:hover {
  text-decoration: none;
}

footer,
footer,
nav,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1;
  font-family: "CenturyGothic-Bold";
  overflow-x: hidden;
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  color: #ffffff;
  background: url("../img/main-bg-mobile.jpg") 50% 0 repeat-y;
}

@media (min-width: 767px) {
  body {
    background: url("../img/main-bg-tablet.jpg") 50% 0 repeat-y;
  }
}

@media (min-width: 1440px) {
  body {
    background: url("../img/main-bg-desktop.jpg") 50% 0 repeat-y;
  }
}

@font-face {
  font-family: "CenturyGothic-Regular";
  font-weight: bold;
  font-style: bold;
  font-display: swap;
  src: url("../fonts/CenturyGothic.woff") format("woff"), url("../fonts/CenturyGothic.woff2") format("woff2");
}

@font-face {
  font-family: "CenturyGothic-Bold";
  font-weight: bold;
  font-style: bold;
  font-display: swap;
  src: url("../fonts/CenturyGothic-Bold.woff") format("woff"), url("../fonts/CenturyGothic-Bold.woff2") format("woff2");
}

.head {
  height: 370px;
  padding: 25px 5%;
  background: url("../img/photo-bg-mobile.png") 90% 100% no-repeat, url("../img/yellow-line-bg-mobile.png") 63% 95% no-repeat;
}

.head--open {
  height: 586px;
  background: url("../img/photo-bg-mobile.png") 90% 100% no-repeat, url("../img/yellow-line-bg-mobile.png") 63% 97% no-repeat;
}

@media (min-width: 767px) {
  .head {
    height: 700px;
    padding-top: 45px;
    background: url("../img/photo-bg-tablet.png") 99% 52% no-repeat, url("../img/yellow-line-bg-tablet.png") 98% 82% no-repeat;
  }
}

@media (min-width: 1440px) {
  .head {
    height: 1300px;
    padding-top: 45px;
    background: url("../img/yellow-line-bg-desktop.png") 62% 74% no-repeat, url("../img/photo-bg-desktop.png") 85% 50% no-repeat;
  }
}

@media (min-width: 1920px) {
  .head {
    padding: 60px 85px 370px;
    background: url("../img/yellow-line-bg.png") 0 100% no-repeat;
  }
}

@media (min-width: 1440px) {
  .head__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.head__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head__nav--open {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.head__nav--close {
  display: none;
}

.head__nav--logo {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1920px) {
  .head__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.head__logo {
  margin-bottom: 25px;
}

@media (min-width: 1440px) {
  .head__logo {
    width: 400px;
    margin: 0;
  }
}

.head__burger {
  width: 25px;
  height: 25px;
}

.head__burger--close {
  background: url("../img/icon-mobile-menu.svg") 50% 0 no-repeat;
}

.head__burger--open {
  background: url("../img/icon-close.svg") 50% 0 no-repeat;
}

@media (min-width: 767px) {
  .head__burger {
    display: none;
  }
}

.head__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 767px) {
  .head__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1920px) {
  .head__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .head__item {
    margin: 0 55px 0 0;
  }
  .head__item:last-child {
    margin: 0;
  }
}

.head__link {
  display: inline-block;
  padding: 15px 40px 14px 0;
  font-size: 17px;
  line-height: 25px;
  text-transform: uppercase;
  color: #f5d31f;
}

@media (min-width: 767px) {
  .head__link {
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .head__link {
    padding: 0;
  }
}

@media (min-width: 1920px) {
  .head__link {
    font-size: 27px;
    line-height: 37px;
    text-transform: none;
  }
}

.head__text {
  max-width: 300px;
  margin: 10px 110px 0 0;
}

@media (min-width: 767px) {
  .head__text {
    max-width: 370px;
    margin-top: 25px;
  }
}

@media (min-width: 1440px) {
  .head__text {
    max-width: 450px;
    margin: 110px 0 0 10%;
  }
}

.head__title {
  font-size: 35px;
  line-height: 40px;
  text-align: left;
}

.head__title br {
  display: none;
}

@media (min-width: 767px) {
  .head__title {
    font-size: 42px;
    line-height: 52px;
  }
}

@media (min-width: 1440px) {
  .head__title {
    font-size: 72px;
    line-height: 95px;
  }
}

@media (min-width: 1920px) {
  .head__title {
    font-size: 75px;
    line-height: 95px;
  }
}

.head__btn {
  display: none;
}

@media (min-width: 1920px) {
  .head__btn {
    display: block;
    margin-top: 60px;
    font-size: 25px;
    line-height: 30px;
  }
  .head__btn::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 175px;
    width: 25px;
    height: 25px;
    background: url("../img/icon-arrow.png") no-repeat;
  }
}

.services__wrap {
  margin-top: 55px;
  padding: 0 5%;
}

@media (min-width: 767px) {
  .services__wrap {
    width: 690px;
    margin: 0 auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1920px) {
  .services__wrap {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 200px;
  }
}

.services__container {
  width: 288px;
  height: 288px;
  margin: 0 auto;
  padding: 118px 25px;
  border-radius: 50%;
  border: 5px solid #f5d31f;
}

@media (min-width: 767px) {
  .services__container {
    margin: 0;
  }
}

@media (min-width: 1920px) {
  .services__container {
    padding: 250px 125px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.services__title {
  font-size: 35px;
  line-height: 40px;
  text-align: center;
}

@media (min-width: 767px) {
  .services__title {
    font-size: 42px;
    line-height: 52px;
  }
}

@media (min-width: 1920px) {
  .services__title {
    font-size: 75px;
    line-height: 95px;
    text-align: center;
  }
}

.services__list {
  width: 95%;
  margin: 0 auto;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 17px;
  line-height: 25px;
  font-family: "CenturyGothic-Regular";
  text-align: center;
}

@media (min-width: 767px) {
  .services__list {
    width: 334px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: left;
  }
}

@media (min-width: 1920px) {
  .services__list {
    width: 450px;
    padding: 75px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 30px;
    line-height: 40px;
  }
}

.services__item {
  padding: 15px 0;
}

.galery {
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0);
}

.galery::after {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  background: url("../img/yellow-line-bg-mobile.png") 50% 100% no-repeat;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

@media (min-width: 767px) {
  .galery::after {
    content: "";
    width: 100%;
    height: 165px;
    position: absolute;
    top: 85px;
    background: url("../img/yellow-line-bg-tablet.png") 98% 100% no-repeat;
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}

@media (min-width: 1920px) {
  .galery::after {
    content: "";
    height: 220px;
    background: url("../img/yellow-line-bg.png") no-repeat;
  }
}

.galery__wrap {
  margin-top: 80px;
  padding: 0 5% 65px;
}

@media (min-width: 767px) {
  .galery__wrap {
    padding: 220px 5% 0;
  }
}

@media (min-width: 1920px) {
  .galery__wrap {
    margin: 0 122px 0 auto;
    padding: 0 85px;
  }
}

@media (min-width: 767px) {
  .galery__text {
    margin-bottom: 90px;
  }
}

@media (min-width: 1920px) {
  .galery__text {
    width: 450px;
    padding: 140px 0 130px;
  }
}

.galery__title {
  font-size: 35px;
  line-height: 40px;
}

@media (min-width: 767px) {
  .galery__title {
    font-size: 42px;
    line-height: 52px;
  }
}

@media (min-width: 1920px) {
  .galery__title {
    font-size: 75px;
    line-height: 95px;
  }
}

.galery__para {
  font-size: 17px;
  line-height: 25px;
}

@media (min-width: 767px) {
  .galery__para {
    font-size: 25px;
  }
}

@media (min-width: 1920px) {
  .galery__para {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (min-width: 1920px) {
  .galery__container {
    margin-bottom: 100px;
  }
}

.galery__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 767px) {
  .galery__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 1066px) {
  .galery__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1920px) {
  .galery__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.galery__item {
  margin-top: 20px;
}

@media (min-width: 767px) {
  .galery__item {
    margin: 0 0 40px;
  }
}

@media (min-width: 1066px) {
  .galery__item {
    margin-bottom: 7.5%;
  }
  .galery__item:nth-child(odd) {
    margin-right: 15%;
  }
}

.galery__img {
  max-width: 288px;
}

@media (min-width: 767px) {
  .galery__img {
    min-width: 320px;
  }
}

.garely__control {
  display: none;
}

@media (min-width: 767px) {
  .garely__control {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1920px) {
  .garely__control {
    margin-top: 100px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.galery__btn {
  width: 25px;
  height: 25px;
  margin-right: 60px;
  font-size: 0;
  line-height: 0;
  border-radius: 50%;
  background-color: #f5d31f;
  outline: none;
}

.galery__btn:last-child {
  margin-right: 0;
}

@media (min-width: 1920px) {
  .galery__btn {
    width: 35px;
    height: 35px;
  }
}

.contacts {
  padding-bottom: 50px;
  position: relative;
  font-family: "CenturyGothic-Regular";
}

.contacts::after {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  background: url("../img/yellow-line-bg-mobile.png") 50% 100% no-repeat;
}

@media (min-width: 767px) {
  .contacts {
    margin-bottom: 80px;
  }
  .contacts::after {
    height: 165px;
    background: url("../img/yellow-line-bg-tablet.png") 98% 100% no-repeat;
  }
}

@media (min-width: 1920px) {
  .contacts::after {
    content: "";
    width: 100%;
    height: 220px;
    position: absolute;
    top: 0;
    background: url("../img/yellow-line-bg.png") no-repeat;
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}

.contacts__wrap {
  padding: 65px 5% 0;
}

@media (min-width: 767px) {
  .contacts__wrap {
    width: 768px;
    margin: 0 auto;
    padding-top: 145px;
  }
}

@media (min-width: 1920px) {
  .contacts__wrap {
    padding: 360px 85px 0;
  }
}

.contacts__title {
  width: 290px;
  font-size: 35px;
  line-height: 40px;
  font-family: "CenturyGothic-Bold";
}

@media (min-width: 767px) {
  .contacts__title {
    font-size: 42px;
    line-height: 52px;
  }
}

@media (min-width: 1920px) {
  .contacts__title {
    width: 500px;
    margin: 0 220px 0 auto;
    font-size: 40px;
    line-height: 50px;
  }
}

@media (min-width: 1920px) {
  .contacts__container {
    margin: 100px 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.contacts__info {
  margin-top: 25px;
}

@media (min-width: 767px) {
  .contacts__info {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1920px) {
  .contacts__info {
    width: 500px;
  }
}

@media (min-width: 767px) {
  .contacts__text {
    width: 265px;
  }
}

.contacts__para {
  font-size: 18px;
  line-height: 25px;
}

@media (min-width: 767px) {
  .contacts__para {
    font-size: 20px;
    line-height: 38px;
  }
}

@media (min-width: 1920px) {
  .contacts__para {
    font-size: 30px;
    line-height: 50px;
  }
}

.contacts__list {
  margin-top: 25px;
}

@media (min-width: 767px) {
  .contacts__list {
    width: 300px;
    margin: 0;
    text-align: right;
  }
}

@media (min-width: 1920px) {
  .contacts__list {
    margin-top: 100px;
  }
}

.contacts__item {
  margin-bottom: 25px;
}

@media (min-width: 767px) {
  .contacts__item {
    margin-bottom: 10px;
  }
}

@media (min-width: 1920px) {
  .contacts__item {
    margin-bottom: 40px;
    padding-left: 70px;
  }
}

.contacts__headline {
  font-size: 18px;
  line-height: 25px;
}

@media (min-width: 1920px) {
  .contacts__headline {
    font-size: 25px;
    line-height: 35px;
  }
}

.contacts__data {
  font-size: 18px;
  line-height: 25px;
}

@media (min-width: 767px) {
  .contacts__data {
    margin-top: 10px;
  }
}

@media (min-width: 1920px) {
  .contacts__data {
    font-size: 25px;
    line-height: 35px;
  }
}

.contacts__form {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 767px) {
  .contacts__form {
    margin: 0 auto;
  }
}

.contacts__input {
  margin-bottom: 25px;
  padding: 10px;
  font-size: 18px;
  line-height: 25px;
  font-family: "CenturyGothic-Regular";
  border-radius: 3px;
}

.contacts__input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  font-family: "CenturyGothic-Regular";
}

.contacts__input:-ms-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  font-family: "CenturyGothic-Regular";
}

.contacts__input::-ms-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  font-family: "CenturyGothic-Regular";
}

.contacts__input::placeholder {
  font-size: 18px;
  line-height: 25px;
  font-family: "CenturyGothic-Regular";
}

.contacts__input--textarea {
  resize: none;
}

@media (min-width: 1920px) {
  .contacts__input {
    margin-bottom: 40px;
    padding: 10px;
    font-size: 25px;
    line-height: 35px;
  }
  .contacts__input::-webkit-input-placeholder {
    font-size: 25px;
    line-height: 35px;
  }
  .contacts__input:-ms-input-placeholder {
    font-size: 25px;
    line-height: 35px;
  }
  .contacts__input::-ms-input-placeholder {
    font-size: 25px;
    line-height: 35px;
  }
  .contacts__input::placeholder {
    font-size: 25px;
    line-height: 35px;
  }
}

.contacts__btn {
  max-width: 50%;
  padding: 10px;
  font-size: 18px;
  line-height: 25px;
  font-family: "CenturyGothic-Bold";
  text-align: left;
  background-color: #f5d31f;
  border-radius: 3px;
}

@media (min-width: 1920px) {
  .contacts__btn {
    width: 250px;
    font-size: 25px;
    line-height: 35px;
  }
}
