.head {	
	height: 370px;
	padding: 25px 5%;	
	background: url("../img/photo-bg-mobile.png") 90% 100% no-repeat, url('../img/yellow-line-bg-mobile.png') 63% 95% no-repeat;

	&--open {
		height: 586px;
		background: url("../img/photo-bg-mobile.png") 90% 100% no-repeat,	url('../img/yellow-line-bg-mobile.png') 63% 97% no-repeat;
	}

	@media (min-width: $tablet-width) {
		height: 700px;
		padding-top: 45px;
		background: url("../img/photo-bg-tablet.png") 99% 52% no-repeat,	url('../img/yellow-line-bg-tablet.png') 98% 82% no-repeat;
	}

	@media (min-width: $small-desktop-width) {
		height: 1100px;
		padding-top: 45px;
		background: url('../img/yellow-line-bg-desktop.png') 62% 90% no-repeat, url("../img/photo-bg-desktop.png") 85% 95% no-repeat;
	}

	@media (min-width: $big-desktop-width){
		padding: 60px 85px 370px;		
		background: url('../img/yellow-line-bg.png') 0 100% no-repeat;
	}	
}

.head__container {
	@media (min-width: $small-desktop-width) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}	
}

.head__nav {			
	display: flex;	

	&--open {
		flex-direction: column;
		align-items: flex-start;
	}

	&--close {
		display: none;
	}

	&--logo {
		justify-content: space-between;
	}			

	@media (min-width: $big-desktop-width) {
		justify-content: space-between;
		align-items: center;
	}	
}

.head__logo {
	margin-bottom: 25px;		

	@media (min-width: $small-desktop-width) {
		width: 400px;
		margin: 0;
	}
}

.head__burger {
	width: 25px;
	height: 25px;

	&--close{
		background: url('../img/icon-mobile-menu.svg') 50% 0 no-repeat;
	}
	
	&--open {
		background: url('../img/icon-close.svg') 50% 0 no-repeat;
	}

	@media (min-width: $tablet-width) {
		display: none;
	}
}

.head__list {	
	display: flex;
	flex-direction: column;	

	@media (min-width: $tablet-width) {
		flex-direction: row;
	}

	@media (min-width: $big-desktop-width) {
		justify-content: space-between;
	}
	
}

.head__item {
	@media (min-width: $small-desktop-width) {		
		margin: 0 55px 0 0;
		
		&:last-child {
			margin: 0;
		}
	}	
}

.head__link {
	display: inline-block;	
	padding: 15px 40px 14px 0;
	font-size: 17px;	
	line-height: 25px;
	text-transform: uppercase;
	color: #f5d31f;

	@media (min-width: $tablet-width) {
		font-size: 20px;
	}

	@media (min-width: $small-desktop-width) {
		padding: 0;		
	}

	@media (min-width: $big-desktop-width) {
		font-size: 27px;
		line-height: 37px;
		text-transform: none;
	}
}

.head__text {
	max-width: 300px;
	margin: 10px 110px 0 0;

	@media (min-width: $tablet-width) {
		max-width: 370px;
		margin-top: 25px;
	}

	@media (min-width: $small-desktop-width) {		
		max-width: 450px;
		margin: 80px 0 0 10%;
	}
}

.head__title {	
	font-size: 35px;
	line-height: 40px;
	text-align: left;

	& br {
		display: none;
	}
	
@media (min-width: $tablet-width) {
	font-size: 42px;
	line-height: 52px;
}

@media (min-width: $small-desktop-width) {
	font-size: 72px;
	line-height: 95px;
}

	@media (min-width: $big-desktop-width) {		
		font-size: 75px;
		line-height: 95px;
	}	
}

.head__btn {
	display: none;	

	@media (min-width: $big-desktop-width) {
		display: block;
		margin-top: 60px;
		font-size: 25px;
		line-height: 30px;

		&::after {
			content: "";
			position: absolute;
			top: 5px;
			left: 175px;
			width: 25px;
			height: 25px;
			background: url("../img/icon-arrow.png") no-repeat;
		}
	}
}