.head {
	padding: 60px 85px 370px;
	position: relative;
	background: url('../img/yellow-line-bg.png') 0 100% no-repeat;	
}

.head__nav {	
	display: flex;
	justify-content: space-between;	
	align-items: center;
}

.head__list {
	display: flex;
	justify-content: space-between;			
}

.head__item {
	margin-right: 40px;

	&:last-child {
		margin-right: 0;
	}
}

.head__link {
	font-size: 27px;	
	line-height: 37px;
	color: #f5d31f;
}

.head__title {
	margin: 200px 600px 0 0;
	font-size: 75px;
	line-height: 95px;
}

.head__btn {
	display: block;
	margin-top: 60px;
	position: relative;
	font-size: 25px;
	line-height: 30px;
	color: #ffffff;

	&::after {
		content: "";
		position: absolute;
		top: 5px;
		left: 175px;
		width: 25px;
		height: 25px;
		background: url("../img/icon-arrow.png") no-repeat;
	}
}