.services__wrap {
	margin-top: 55px;
	padding: 0 5%;

	@media (min-width: $tablet-width) {
		width: 690px;
		margin: 0 auto;
		padding: 0;				
		display: flex;
		justify-content: space-between;
	}
	
	@media (min-width: $big-desktop-width) {
		margin: 0;
		display: flex;
		padding: 0 200px;		
	}	
}

.services__container {	
	width: 288px;
	height: 288px;
	margin: 0 auto;
	padding: 118px 25px;	
	border-radius: 50%;
	border: 5px solid #f5d31f;

	@media (min-width: $tablet-width) {
		margin: 0;		
	}

	@media (min-width: $big-desktop-width) {
		padding: 250px 125px;
		align-self: center;
	}
}

.services__title {	
	font-size: 35px;
	line-height: 40px;
	text-align: center;

	@media (min-width: $tablet-width) {
		font-size: 42px;
		line-height: 52px;
	}

	@media (min-width: $big-desktop-width) {
		font-size: 75px;
		line-height: 95px;
		text-align: center;
	}	
}

.services__list {	
	width: 95%;
	margin: 0 auto;
	padding: 25px 0;
	display: flex;
	flex-direction: column;	
	font-size: 17px;
	line-height: 25px;	
	font-family: "CenturyGothic-Regular";
	text-align: center;

	@media (min-width: $tablet-width) {
		width: 334px;
		margin: 0;
		padding: 0;
		font-size: 20px;				
		align-self: center;
		text-align: left;
	}

	@media (min-width: $big-desktop-width) {
		width: 450px;
		padding: 75px 0;
		justify-content: space-between;
		font-size: 30px;
		line-height: 40px;	
	}
}

.services__item {
	padding: 15px 0;
}
